.mmpplList{
      .manageImage{
        border-radius: 50%!important;
        height: 200px;
        width: 200px;
        bottom: 90px;
        position: relative;
        border: 3px solid white;
      }
    
      .cardHeader{
        height:125px
      }
      .cardHeader-color{
            background-color: #124676
      }
      .divider{
            border-bottom: 1px solid black;
      }
      .card-text{
            color:#000000
      }
    }