.rp-signup{
      background-image: url('../img/signupImg.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      .rp-signup-bk{
            background-color: #ffffff
      }
}