.randomppl{
      background-image: url('../img/ppl2.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      .titleColor{
            color:#ffffff;
            font-size:60px;
            font-weight:700
      }

      .subTitleColor{
            color:#ffffff;
            font-size:14px
       }
       .adjBtn{
             color:#000000
       }
     

}
.whyRandomppl{
        .content1Img{
            background-image: url('../img/herobro.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 500px
       }
}